{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/3c2c14697c.js" crossorigin="anonymous"></script>
    <title>Equipos</title>
</head>
<header>
    <nav class="nav_2">
        <div class="bg_i">
            <a href="#"><i class="fa-solid fa-bars icon_1"></i></a>
        </div>
        <a href="{% url 'index' %}"><img src="{% static 'imgs/FIFA_Logo_White.webp' %}" alt="" class="img_logo"></a>
        <a href="#" class="text_t3 noto-sans">MODIFICAR EQUIPOS PARTICIPANTES</a>
        <a href="#" class="text_t3 noto-sans">MODIFICAR JUGADORES DESTACADOS</a>
        <a href="#" class="text_t3 noto-sans">MODIFICAR PROXIMOS PARTIDOS</a>
        <div class="cont_icon">
            <a href="#"><i class="icon_2 fa-solid fa-magnifying-glass"></i></a>
            <a href="#"><i class="icon_2 fa-solid fa-globe"></i></a>
            <a href="{% url 'login' %}"><i class="icon_2 fa-regular fa-user"></i></a>     
        </div>
    </nav>
</header>
<body>
    <div>
        <button id="crear" class="boton_1">Crear</button>
    </div>
    <div class="container_of" id="container_equipo">
        <div class="form_2" >
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="" class="text_2">Nombre del equipo</label><br><br>
                <input class="inp_1" type="text" name="name" id="name" placeholder="nombre" required><br><br><br>
                <label class="text_2" for="">Bandera del equipo</label><br><br>
                <input class="" type="file" name="bandera" id="bandera" value="subir" accept="image/*" required><br><br><br>
                <label class="text_2" for="">Escudo del equipo</label><br><br>
                <input class="" type="file" name="escudo" id="escudo" value="Subir" accept="image/*" required>
                <input class="boton_1" type="submit" name="env" id="env">
            </form>
        </div>
    </div>
    

    <div>
        <ul>
            {% for equipo in equipo %}
            <div class="container_info_e">
                <hr>
                <table class="list_equipos">
                    <tr>
                        <th>Nombre</th>
                        <th>Bandera</th>
                        <th>Escudo</th>
                        <th>Opciones</th>
                    </tr>
                    <tr>
                        <td>{{ equipo.name }}</td>
                        <td> <img class="img_2" src="{{ equipo.flag.url }}" > </td>
                        <td> <img class="img_2" src="{{ equipo.shield.url }}" alt="{{ equipo.name }}"> </td>
                        <td> 
                            <a href="{% url 'edit_equipos' equipo.id %}" class="link_t2">Editar</a><br>
                            <a href="{% url 'delete_equipo' equipo.id %}" class="link_t2" >Eliminar</a>
                        </td>
                    </tr>
                </table>
            </div>
            {% endfor %}
        </ul>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>